*{
    padding: 0;
    margin: 0;
 font-family: sans-serif;
}

body{
    background-color: black;
}

#logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    background-color: #fff;
    width: 60px;
    height: 32px;
    padding: 4px;
    margin-top: 11px;
    margin-left: 21px;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
}
.menu a {
   text-decoration: none;
   width: 100px;
   padding: 15px;
   color: #fff;
}
.content{
    margin: 45vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.paragraph{
    text-align: center;
    word-spacing: 5px;
    text-transform: capitalize;
    font-weight: 800;
}
.heading{
    font-size: 23px;
    letter-spacing: 2px;
    padding-top: 70px;
}
